<nav id="navbar-main" class="navbar-main navbar navbar-expand-{{ globals.navbar.break }}">

    <div class="container">

        <a class="navbar-brand align-middle" href="#">
            <img src="{{ globals.site.logo | url }}" />
        </a>

        <div class="ms-auto mx-2"></div>

        <!-- standalone search bar activator (below navigation) -->
        <a type="button" role="button" class="btn border-0 me-2 d-{{ globals.navbar.break }}-none"
            data-bs-toggle="collapse" data-bs-target="#blog-search-bar">
            <!-- d-sm-none = hide if above sm -->
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>

        <button type="button" class="btn navbar-toggler"
            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Using navbar-toggler fix in main.scss and FA icons instead of: <span class="navbar-toggler-icon"></span> -->
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-sm-0">

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/' | url }}">Home</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/posts' | url | firstPage(globals.posts.pageSize ) }}">Posts</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/tags' | url }}">Tags</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/categories' | url }}">Categories</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/series' | url }}">Series</a>
                </li>

            </ul>

        </div>

        <!-- inline search-bar with same expand breakpoint as navigation -->
        <nav class="nav-search d-none d-{{ globals.navbar.break }}-inline">
            <!-- hidden by def., visible (block) aft. size SM -->
            <div class="inline-input-group inline-text-right">
                <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="blog-search-input form-control py-0" placeholder="Search...">
            </div>
        </nav>

    </div>

</nav>

<!-- standalone search bar (below navigation) with same breakpoint as navigation (shown on collapse) -->
<nav class="nav-search-below d-{{ globals.navbar.break }}-none collapse p-3" id="blog-search-bar">
    <div class="container">
        <!-- d-sm-none = hide if above sm -->
        <div class="inline-input-group inline-text-left">
            <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="blog-search-input form-control" placeholder="Search...">
        </div>

    </div>
</nav>