<nav id="navbar-main" class="navbar-main navbar navbar-expand-{{ globals.navbar.break }}">

    <div class="container">

        <a class="navbar-brand align-middle" href="#">
            <img src="{{ globals.site.logo | url }}" />
        </a>

        <div class="ms-auto mx-2"></div>

        <!-- standalone search bar activator (below navigation) -->
        <a type="button" role="button" class="btn border-0 me-2 d-{{ globals.navbar.break }}-none {%- if not globals.site.search.navbarMenuEnabled %} d-none-important{% endif -%}"
            data-bs-toggle="collapse" data-bs-target="#blog-search-bar">
            <!-- d-sm-none = hide if above sm -->
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>

        <button type="button" class="btn navbar-toggler"
            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Using navbar-toggler fix in main.scss and FA icons instead of: <span class="navbar-toggler-icon"></span> -->
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav d-flex flex-row flex-wrap align-items-center bd-navbar-nav pt-2 py-sm-0 px-5 w-100">

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link default p-2" href="{{ '/' | url }}">Home</a>
                </li>
                
                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/#who-what-services' | url }}">Who / Services</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/#case-studies' | url }}">Case Studies</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/projects' | url }}">Projects</a>
                </li>

                <div class="ms-auto mx-2"></div>

                <li class="nav-item dropdown col-12 col-{{ globals.navbar.break }}-auto {%- if not globals.site.posts.navbarMenuEnabled %} d-none-important{% endif -%}">
                    <hr class="d-block d-{{ globals.navbar.break }}-none" />
                    <a class="d-inline-flex nav-link p-2" href="{{ '/posts' | url | firstPage(globals.posts.pageSize ) }}">Posts</a>
                    <a class="d-inline-flex nav-link no-dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-hover="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-angles-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ '/tags' | url }}">Tags</a></li>
                        <li><a class="dropdown-item" href="{{ '/categories' | url }}">Categories</a></li>
                        <li><a class="dropdown-item" href="{{ '/series' | url }}">Series</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ '/tags-cloud' | url }}">Tags cloud</a></li>
                    </ul>
                </li>      

            </ul>

        </div>

        <!-- inline search-bar with same expand breakpoint as navigation -->
        <nav class="nav-search d-none d-{{ globals.navbar.break }}-inline {%- if not globals.site.search.navbarMenuEnabled %} d-none-important{% endif -%}">
            <!-- hidden by def., visible (block) aft. size SM -->
            <div class="inline-input-group inline-text-right">
                <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="blog-search-input form-control py-0" placeholder="Search...">
            </div>
        </nav>

    </div>

</nav>

<!-- 
standalone search bar (below navigation) with same breakpoint as navigation (shown on collapse)
d-sm-none = hide if above sm
-->
<nav class="nav-search-below d-{{ globals.navbar.break }}-none collapse {%- if not globals.site.search.navbarMenuEnabled %} d-none-important{% endif -%}" id="blog-search-bar">
    <div class="container">
        <div class="p-3">
            <div class="inline-input-group inline-text-left">
                <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="blog-search-input form-control" placeholder="Search...">
            </div>
        </div>
    </div>
</nav>