<nav class="navbar navbar-expand-{{ globals.navbar.break }}">

    <div class="container">

        <a class="navbar-brand align-middle" href="#">
            <img src="{{ globals.site.logo | url }}" />
        </a>

        <div class="ms-auto mx-2"></div>

        <button type="button" class="btn navbar-toggler"
            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Using navbar-toggler fix in main.scss and FA icons instead of: <span class="navbar-toggler-icon"></span> -->
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-sm-0">

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/' | url }}">Home</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/posts' | url | firstPage(globals.posts.pageSize ) }}">Posts</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/tags' | url }}">Tags</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/categories' | url }}">Categories</a>
                </li>

                <li class="nav-item col-6 col-{{ globals.navbar.break }}-auto">
                    <a class="nav-link p-2" href="{{ '/series' | url }}">Series</a>
                </li>

            </ul>

        </div>

    </div>

</nav>

<!-- standalone search bar -->
<nav class="nav-search-below p-3" id="blog-search-bar">

    <div class="container">

        <div class="inline-input-group inline-text-left">
            <span class="inline-text"><i class="fas fa-search"></i></span>
            <input type="text" class="blog-search-input form-control" placeholder="Search...">
        </div>

    </div>

</nav>