{%- set metaTitle -%}
    {%- if not title -%}{{ globals.site.title | safe }} - {{ globals.site.description | safe }}
    {%- else -%}{{ title | safe }} | {{ globals.site.title | safe }}
    {%- endif -%}
{%- endset -%}
{%- set metaDesc -%}
    {%- if not description -%}{{ globals.site.description | safe }}
    {%- else -%}{{ description | safe }}
    {%- endif -%}
{%- endset -%}
{%- set metaKeywords -%}
    {%- if tags -%}{%- for tag in tags -%}{{ tag }},{%- endfor -%}{%- endif -%}
    {%- if globals.site.keywords -%}
        {%- for keyword in globals.site.keywords -%}
            {{ keyword }}{%- if not loop.last %},{% endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endset -%}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">

        <title>{{ metaTitle }}</title>
        <meta name="title" content="{{ metaTitle }}">
        <meta name="description" content="{{ metaDesc }}">
        <meta name="keywords" content="{{ metaKeywords }}">
        <meta name="author" content="{{ author }}">
        <meta name="robots" content="index, follow">

        <link rel="canonical" href="{{ globals.site.url | url }}{{ page.url }}">
        <link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | url }}">
        
        <link rel="preconnect" href="cdnjs.cloudflare.com">
        <link rel="dns-prefetch" href="cdnjs.cloudflare.com">

        <link rel="preconnect" href="cdn.jsdelivr.net">
        <link rel="dns-prefetch" href="cdn.jsdelivr.net">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.bundle.min.js" integrity="sha512-BOsvKbLb0dB1IVplOL9ptU1EYA+LuCKEluZWRUYG73hxqNBU85JBIBhPGwhQl7O633KtkjMv8lvxZcWP+N3V3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script src="{{ '/assets/js/custom/clipboard-copy.js' | url }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js" integrity="sha256-mOsgtygNfXBUPc/+cc19yr+g0jieqYOgRL5xFD2sC0Y=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js" integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js" integrity="sha512-PEsccDx9jqX6Dh4wZDCnWMaIO3gAaU0j46W//sSqQhUQxky6/eHZyeB3NrXD2xsyugAKd4KPiDANkcuoEa2JuA==" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax.css" integrity="sha256-/a0I9OFWuIXZRhqSuqIj8g0NUYSID+mwuyOuuFZb12A=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax.min.js" integrity="sha256-uCknJLYMrtYTPwl8PwQnFj6T6Hck2oSGEZLhMi1BRvU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax-video.min.js" integrity="sha256-zYuE44YyKYv3Y4xv38UkxBY4jFCzAmAxwJ2nfRj16WI=" crossorigin="anonymous"></script>
        <script>
            function InitParallax() {
                jarallax(document.querySelectorAll('.jarallax'), {
                    speed: 0.2, 
                    disableVideo: /iPad|iPhone|iPod|Android/
                });
            }
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            function InitTyped() {
                // sample:
                // <span class="text-success">ever created for
                //   <span data-typed='{"strings": ["developers.", "founders.", "designers."]}'></span>
                //   <span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span>
                // </span>
                document.querySelectorAll("[data-typed]").forEach(e => {
                    const t = {
                        typeSpeed: 40,
                        backSpeed: 10,
                        backDelay: 2e3,
                        loop: true,
                        replaceBaseText : true, /* future feature */
                        autoInsertCss: true,
                        ...e.dataset.typed ? JSON.parse(e.dataset.typed) : {}
                    };

                    var typed = new Typed(e, t);
                });
            }         
        </script>

        <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" integrity="sha256-GqiEX9BuR1rv5zPU5Vs2qS/NSHl1BJyBcjQYJ6ycwD4=" crossorigin="anonymous">
        <script>
            function InitAOS() {
                AOS.init({ duration: 800, offset:0 });
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
        <script>
            function InitCounters() {
                new PureCounter();
            }
        </script>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css" integrity="sha256-bT9i1NF5afnHDpQ4z2cQBHJQGehoEj8uvClaAG+NXS0=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js" integrity="sha256-A9/h+86SqfF/zRoVASE72CDQUKsIXDOEGasGo2MclFk=" crossorigin="anonymous"></script>
        <script>
            function InitLightbox() {
                GLightbox({});
            }
        </script>

        {{ styles | safe }}
    </head>
    <body class="fit-height">

        <header class="sticky-top">
            {% include 'layouts/_navigation.html' %}
        </header>

        <main>
            {# we use nunjucks blocks for layouts #}
            {% block main %}
                {# and provide a 11ty layout composition rendering fallback #}
                {# which is not working, do a default page must be anything but not base.njk #}
                {{ content | safe }}
            {% endblock %}
        </main>

	    <!-- dynamic & custom scripts to alter rendered content -->
        {% include 'partials/js/search-js.html' %}

        {% include 'partials/js/mathjax.html' %}
        {% include 'partials/js/mermaid.html' %}

        {% include 'partials/js/google-analytics.html' %}

        {% include 'partials/js/cookie-consent.html' %}

    </body>

    <!-- dynamic & custom scripts that need to run after the entire "final" content is rendered -->
    <script src="{{ '/assets/js/custom/d-hide-if-empty.js' | url }}"></script>
    <script src="{{ '/assets/js/custom/sticky.js' | url }}"></script>

    <!-- scripts from content pages -->
    {{ scripts | safe }}

</html>
