---
#
# container: false|true|sm|md|lg|xl|xxl|fluid
# searchResultsContainer: false|true|sm|md|lg|xl|xxl|fluid
# aside: 3
# asideBreak: sm|md|lg|xl|xxl
# asideMobile: true
#
container: true
searchResultsContainer: true
aside: 3
asideBreak: xl
asideMobile: false
asideContent:
  series: false
  similar: false
  recent: false
  tagCloud: false  
toc: false
share: false
comments: false
math: false
mermaid: false
---

{% extends './base.njk' %}

{% import "macros/bs-breakpoint.html" as bs_br %}

{% block main %}

    {% block before %}{% endblock %}

    <div id="wrapper">

        <div id="content-container" class="{{- ('hide-on-search-results-container-display ' + bs_br.getBreakpointClass(container, "container")) | trim -}}">

            <div class="row g-0">

                <div class="main-container col-12 col-{{ asideBreak }}-{{ 12 - aside }} overflow-hidden">
                    {% block content %}
                        {{ content | safe }}
                    {% endblock %}
                </div>

                <aside class="sticky-container {% if aside == 0 %}d-none{% else %}{% if not asideMobile %}d-none{% else %}col-12{% endif %} d-{{ asideBreak }}-block small col-{{ asideBreak }}-{{ aside }}{% endif %}">
                    {% block aside %}{% endblock %}
                </aside>

            </div>

        </div>

        <div id="search-results-container" class="{{- ('d-none ' + bs_br.getBreakpointClass(searchResultsContainer, "container")) | trim -}}">

            <div class="row g-0">
            
                <div class="search-results-wrapper col-12 overflow-hidden">
                </div>

            </div>

        </div>

    </div>

    {% block after %}{% endblock %}

{% endblock %}


