---
#
# container: false|true|sm|md|lg|xl|xxl|fluid
# searchResultsContainer: false|true|sm|md|lg|xl|xxl|fluid
# aside: 3
# asideBreak: sm|md|lg|xl|xxl
# asideMobile: true
#
extraLayoutClasses:
container: true
searchResultsContainer: true
aside: 3
asideBreak: xl
asideMobile: false
asideContent:
  series: false
  similar: false
  recent: false
  tagCloud: false  
toc: false
share: false
comments: false
math: false
mermaid: false
---

{% extends './base.njk' %}

{% import "macros/bs-breakpoint.html" as bs_br %}

{% block main %}

    <div class="{{- ('layout layout-' + layout + ' ' + (extraLayoutClasses if extraLayoutClasses else '')) | trim -}}">

        <div class="{{- 'main-container ' + bs_br.getBreakpointClass(container, "container", "container-fluid g-0") -}}">

            <div class="{{- 'hide-on-search-results-container-display row ' + bs_br.getBreakpointClass(container, "row", "row g-0") -}}">

                <div class="main-content-header col-12">
                    {% block contentHeader %}{% endblock %}
                </div>

                <div class="main-content col-12 col-{{ asideBreak }}-{{ 12 - aside }} overflow-hidden">
                    {% block content %}
                        {{ content | safe }}
                    {% endblock %}
                </div>

                <aside class="main-aside {% if aside == 0 %}d-none{% else %}{% if not asideMobile %}d-none{% else %}col-12{% endif %} d-{{ asideBreak }}-block small col-{{ asideBreak }}-{{ aside }}{% endif %}">
                    {% block aside %}{% endblock %}
                </aside>

                <div class="main-content-footer col-12">
                    {% block contentFooter %}{% endblock %}
                </div>

            </div>

        </div>

        <div class="{{- 'search-results-container ' + bs_br.getBreakpointClass(searchResultsContainer, "container", "container-fluid g-0") -}}">

            <div class="{{- bs_br.getBreakpointClass(searchResultsContainer, "row", "row g-0") -}}">
                
                <div class="main-content search-results-wrapper col-12 overflow-hidden">
                </div>

            </div>

        </div>

    </div>

{% endblock %}
