---
# see main.njk for page-setting properties
container: true
searchResultsContainer: true
aside: 3
asideBreak: xl
asideMobile: false
---
{% extends './main.njk' %}

{% import "macros/heading.html" as m_heading %}

{% block content %}

    <section class="article print-container p-3 mb-3">
        {{ content | safe }}
    </section>
    
{% endblock %}

{% block aside %}

    <!--
    <section class="sticky p-3 mb-3">
        {{ m_heading.withLink('Recent posts') }}
        {% include 'partials/recent-posts.html' %}
    </section>

    <section class="sticky p-3 mb-3 d-hide-if-empty">
        {{ m_heading.withLink('Tag cloud') }}
        {% include 'partials/tag-cloud.html' %}
    </section>
    -->
    
    <section class="sticky p-3 mb-3 d-hide-if-empty">
        {% set tocHtml %}{% include 'partials/toc.html' %}{% endset %}
        {{ m_heading.withLinkWhenContent('Table of contents', tocHtml) }}
    </section>
    
{% endblock %}
