---
aside: 3
asideBreak: xl
asideMobile: false
---
{% extends './main.njk' %}

{% import "macros/share.html" as share %}
{% import "macros/heading.html" as heading %}

{% block content %}

    {#
        the basic page object has just a subset of the entire post-data available
        so we need to find the post with full data from the post collection
        storing it into the post variable makes it possible for us to ise the includes/partials/post/*
    #}
    {% set post = collections[globals.posts.collectionName] | getCollectionItem(page) %}
    
    <section class="p-3 d-flex d-flex justify-content-between align-items-center">
        {{ share.withTitle(globals, page, 'Share post') }}
    </section>
    
    <section class="print-container p-3 mb-3">

        <section>
            <h1>{{ title }}</h1>
            {% if post.data.series %}
            <p>This article is part of the serie: <a href="{{ globals.serie.path | normalize | url }}{{ post.data.series | slug }}">{{ post.data.series }}</a></p>
            {% endif %}
        </section>

        <section class="pb-3">
            <div class="row row-cols-auto gx-3">
                <div class="col"><i class="far fa-fw fa-calendar-alt"></i>{{ post.data.date | readableDate }}</div>
                <div class="col"><i class="far fa-fw fa-user"></i>{{ post.data.author }}</div>
                <div class="col"><i class="fas fa-fw fa-stopwatch"></i> {{ post.templateContent | readingTime }} reading time</div>
            </div>
        </section>

        <section class="pb-3">
            {% if (post | hasImage) -%}
            <img class="img-responsive" src="{{ post | absoluteImageUrl | url }}">
            {%- endif %}
            {{ content | safe }}
        </section>

    </section>

    <section class="p-3">
        {% include 'partials/post/prev-next-navigation.html' %}
    </section>

    <section class="p-3">
        {% include 'partials/js/disqus.html' %}
    </section>
  
{% endblock %}

{% block aside %}

    <section class="sticky p-3 mb-3 d-hide-if-empty">
        {% set seriesHtml %}{% include 'partials/post/series-navigation.html' %}{% endset %}
        {{ heading.withLink('Series') }}
        {{ seriesHtml | safe }}
    </section>

    <section class="sticky p-3 mb-3">
        {{ heading.withLink('Recent posts') }}
        {% include 'partials/recent-posts.html' %}
    </section>
    
    <section class="sticky p-3 mb-3 d-hide-if-empty">
        {{ heading.withLink('Tag cloud') }}
        {% include 'partials/tag-cloud.html' %}
    </section>

    <section class="p-3 mb-3 d-hide-if-empty sticky">
        {{ heading.withLink('Table of Contents') }}
        <div class="text-nowrap overflow-hidden">
        {% include 'partials/toc.html' %}
        </div>
    </section>

{% endblock %}
