---
# see main.njk for page-setting properties
extraLayoutClasses:
container: true
searchResultsContainer: true
aside: 3
asideBreak: xl
asideMobile: false
asideContentClass:
  series: order-0
  related: order-1
  recent: order-2
  tagCloud: order-3
  toc: order-last
toc: true
share: true
comments: true
---
{% extends './main.njk' %}

{% import "macros/share.html" as m_share %}
{% import "macros/aside-sticky-container.html" as m_asideSticky %}

{% block content %}

    {#
        the basic page object has just a subset of the entire post-data available
        so we need to find the post with full data from the post collection
        storing it into the post variable makes it possible for us to ise the includes/partials/post/*
    #}
    {% set post = collections.all | getCollectionItem(page) %}
    
    <section class="d-flex justify-content-end align-items-center d-hide-if-empty">
        {{ m_share.withTitle(share, globals, page, 'Share post') }}
    </section>
    
    <section class="article print-container">

        <section>
            <h1>{{ title }}</h1>
            {% if post.data.series %}
            <p>This article is part of the serie: <a href="{{ globals.serie.path | normalize | url }}{{ post.data.series | slug }}">{{ post.data.series }}</a></p>
            {#
            {% include 'partials/post/series-prev-next-navigation.html' %}
            #}
            {% endif %}
        </section>
    
        <section class="taxonomy small d-xl-flex gap-3 pb-3">
            {%- if globals.post.showCategories -%}{% include "partials/post/_categories.html" %}{%- endif -%}
            {%- if globals.post.showTags -%}{% include "partials/post/_tags.html" %}{%- endif -%}
        </section>

        <section class="small pb-3">
            <div><span class="text-body-secondary">Posted</span> {{ post.data.date | readableDate }}</div>
            <div class="d-xl-flex justify-content-start gap-3">
                <div><span class="text-body-secondary">By</span> {{ post.data.author }}</div>
                <div class="ms-auto">{{ post.templateContent | readingTime }} <span class="text-body-secondary">reading time</span></div>
            </div>
        </section>

        <hr class="m-1" />

        <section class="pb-3">
            {% if (post | hasImage) -%}
            <img class="img-responsive" src="{{ post | absoluteImageUrl | url }}">
            {%- endif %}
            {{ content | safe }}
        </section>

    </section>
     
{% endblock %}

{% block articleTail %}
    
    <hr class="m-1" />

    <section class="further-reading">
        <h5 class="text-body-secondary">Further Reading</h5>
        {% include 'partials/post/related-navigation.html' %}
        {% include 'partials/post/prev-next-navigation.html' %}
    </section>

    <section class="d-hide-if-empty">
        {% include 'partials/js/disqus.html' %}
        {% include 'partials/js/gisqus.html' %}
    </section>

{% endblock %}

{% block aside %}

    <div class="sticky-container d-flex flex-column">

        <div non-sticky-heading></div>

        {% set seriesHtml %}{% include 'partials/post/aside/series-navigation.html' %}{% endset %}
        {{ m_asideSticky.renderAsideStickyContainer((asideContentClass.series + ' sticky p-3') | trim, 'Articles in Serie', seriesHtml) }}

        {% set relatedHtml %}{% include 'partials/post/aside/related-navigation.html' %}{% endset %}
        {{ m_asideSticky.renderAsideStickyContainer((asideContentClass.related + ' sticky p-3') | trim, 'Similar Articles', relatedHtml) }}

        {% set recentHtml %}{% include 'partials/aside/recent-posts.html' %}{% endset %}
        {{ m_asideSticky.renderAsideStickyContainer((asideContentClass.recent + ' sticky p-3') | trim, 'Recent Posts', recentHtml) }}

        {% set tagCloudHtml %}{% include 'partials/aside/tag-cloud.html' %}{% endset %}
        {{ m_asideSticky.renderAsideStickyContainer((asideContentClass.tagCloud + ' sticky p-3') | trim, 'Tag Cloud', tagCloudHtml) }}

        {% set tocHtml %}{% include 'partials/aside/toc.html' %}{% endset %}
        {{ m_asideSticky.renderAsideStickyContainer((asideContentClass.toc + ' sticky p-3') | trim, 'Table of Contents', tocHtml) }}

    </div>

{% endblock %}
