---
layout: page
asideContentClass:
  recent: order-0
  tagCloud: order-1
  toc: d-none
pagination:
    data: collections.seriesCollection
    size: 1
    alias: serie
permalink: "{{ globals.serie.path | normalize }}/{{  serie.name | slug }}/"
---
<h1>
    <a class="text-secondary" href="{{ globals.series.path | normalize | url }}">Serie:</a>
    <a href="{{ page.url | normalize | url }}">{{ serie.name }}</a>
</h1>

<ul class="serie">
{% for item in serie.items %}
    <li>
        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
    </li>
{% endfor %}
</ul>
