{% macro withTitle(share, globals, page, title) %}
{% if share %}
<section class="share-wrapper">
    <span class="share-label text-body-secondary mr-1">{{ title }}</span>
    <span class="share-icons">
        {% set linkTitle = title | default('') %}
        {% set url = [ globals.site.url, page.url ] | mergePaths %}       
        {% for plattform in globals.platforms %}
            {% if plattform.allowShare %}
                {% set link = plattform.shareUrl | replace('{TITLE}', linkTitle) | replace('{URL}', url) %}
                <a  href="{{ link }}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ plattform.name }}"
                    target="_blank" rel="noopener"
                    aria-label="{{ plattform.name }}"
                    >
                    <i class="fa-fw {{ plattform.icon }}"></i>
                </a>
            {% endif %}
        {% endfor %}
        
        <a href onclick="copyLink(); return false;" data-toggle="tooltip" data-placement="top" title="Copy link">
            <i class="fa-solid fa-link fa-fw small"></i>
        </a>
    </span>
</section>

<script>
    function copyLink(url) {

        if (!url || 0 === url.length)
            url = window.location.href;

        ClipboardCopy.copy(
            url,
            () => { alert("Link copied successfully!"); },
            (err) => { alert("Link copy failed! Error: ", err); },
        );
    }
</script>
{% endif %}
{% endmacro %}