<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">

        <title>Hire-talents-easily | BLOG</title>
        <meta name="title" content="Hire-talents-easily | BLOG">
        <meta name="description" content="Helping others with useful content">
        <meta name="keywords" content="samples,my-simple-tag,digitalization,business,management,agile,software,softwareengineering,softwarearchitecture,programming">
        <meta name="author" content="BaHI">
        <meta name="robots" content="index, follow">

        <link rel="canonical" href="https://blog.domain.com/post-sample/hire-talents-easily/">
        <link rel="shortcut icon" type="image/png" href="/jamstack-eleventy-custom/assets/logo.ico">
        
        <link rel="preconnect" href="cdnjs.cloudflare.com">
        <link rel="dns-prefetch" href="cdnjs.cloudflare.com">

        <link rel="preconnect" href="cdn.jsdelivr.net">
        <link rel="dns-prefetch" href="cdn.jsdelivr.net">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.bundle.min.js" integrity="sha512-BOsvKbLb0dB1IVplOL9ptU1EYA+LuCKEluZWRUYG73hxqNBU85JBIBhPGwhQl7O633KtkjMv8lvxZcWP+N3V3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script src="/jamstack-eleventy-custom/assets/js/custom/clipboard-copy.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js" integrity="sha256-mOsgtygNfXBUPc/+cc19yr+g0jieqYOgRL5xFD2sC0Y=" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js" integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js" integrity="sha512-PEsccDx9jqX6Dh4wZDCnWMaIO3gAaU0j46W//sSqQhUQxky6/eHZyeB3NrXD2xsyugAKd4KPiDANkcuoEa2JuA==" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="/jamstack-eleventy-custom/assets/css/main.css" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax.css" integrity="sha256-/a0I9OFWuIXZRhqSuqIj8g0NUYSID+mwuyOuuFZb12A=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax.min.js" integrity="sha256-uCknJLYMrtYTPwl8PwQnFj6T6Hck2oSGEZLhMi1BRvU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jarallax@2.0.4/dist/jarallax-video.min.js" integrity="sha256-zYuE44YyKYv3Y4xv38UkxBY4jFCzAmAxwJ2nfRj16WI=" crossorigin="anonymous"></script>
        <script>
            function InitParallax() {
                jarallax(document.querySelectorAll('.jarallax'), {
                    speed: 0.2, 
                    disableVideo: /iPad|iPhone|iPod|Android/
                });
            }
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            function InitTyped() {
                // sample:
                // <span class="text-success">ever created for
                //   <span data-typed='{"strings": ["developers.", "founders.", "designers."]}'></span>
                //   <span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span>
                // </span>
                document.querySelectorAll("[data-typed]").forEach(e => {
                    const t = {
                        typeSpeed: 40,
                        backSpeed: 10,
                        backDelay: 2e3,
                        loop: true,
                        replaceBaseText : true, /* future feature */
                        autoInsertCss: true,
                        ...e.dataset.typed ? JSON.parse(e.dataset.typed) : {}
                    };

                    var typed = new Typed(e, t);
                });
            }         
        </script>

        
        <script src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js" integrity="sha256-gHiUEskgBO+3ccSDRM+c5+nEwTGp64R99KYPfITpnuo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css" integrity="sha256-X7rrn44l1+AUO65h1LGALBbOc5C5bOstSYsNlv9MhT8=" crossorigin="anonymous">
        <script>
            function InitAOS() {
                new WOW({ animateClass: 'animate__animated' }).init();
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
        <script>
            function InitCounters() {
                new PureCounter();
            }
        </script>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css" integrity="sha256-bT9i1NF5afnHDpQ4z2cQBHJQGehoEj8uvClaAG+NXS0=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js" integrity="sha256-A9/h+86SqfF/zRoVASE72CDQUKsIXDOEGasGo2MclFk=" crossorigin="anonymous"></script>
        <script>
            function InitLightbox() {
                GLightbox({});
            }
        </script>

        
    </head>
    <body class="fit-height">

        <header class="sticky-top">
            <nav id="navbar-main" class="navbar-main navbar navbar-expand-lg">

    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/jamstack-eleventy-custom/assets/logo.png" />
        </a>

        <div class="ms-auto mx-2"></div>

        <!-- standalone search bar activator (below navigation) -->
        <a type="button" role="button" class="btn border-0 me-2 d-lg-none"
            data-bs-toggle="collapse" data-bs-target="#blog-search-bar">
            <!-- d-sm-none = hide if above sm -->
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>

        <button type="button" class="btn navbar-toggler"
            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Using navbar-toggler fix in main.scss and FA icons instead of: <span class="navbar-toggler-icon"></span> -->
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav d-flex flex-row flex-wrap align-items-center bd-navbar-nav pt-2 py-sm-0 px-5 w-100">

                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link default p-2" href="/jamstack-eleventy-custom/">Home</a>
                </li>

                <div class="ms-auto mx-2"></div>

                <li class="nav-item dropdown col-12 col-lg-auto">
                    <hr class="d-block d-lg-none" />
                    <a class="d-inline-flex nav-link p-2" href="/jamstack-eleventy-custom/posts/1/">Posts</a>
                    <a class="d-inline-flex nav-link no-dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-hover="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-angles-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/jamstack-eleventy-custom/tags">Tags</a></li>
                        <li><a class="dropdown-item" href="/jamstack-eleventy-custom/categories">Categories</a></li>
                        <li><a class="dropdown-item" href="/jamstack-eleventy-custom/series">Series</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/jamstack-eleventy-custom/tags-cloud">Tags cloud</a></li>
                    </ul>
                </li>      

            </ul>

        </div>

        <!-- inline search-bar with same expand breakpoint as navigation -->
        <nav class="nav-search d-none d-lg-inline">
            <!-- hidden by def., visible (block) aft. size SM -->
            <div class="inline-input-group inline-text-right">
                <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="blog-search-input form-control py-0" placeholder="Search...">
            </div>
        </nav>

    </div>

</nav>

<!-- 
standalone search bar (below navigation) with same breakpoint as navigation (shown on collapse)
d-sm-none = hide if above sm
-->
<nav class="nav-search-below d-lg-none collapse" id="blog-search-bar">
    <div class="container">
        <div class="p-3">
            <div class="inline-input-group inline-text-left">
                <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="blog-search-input form-control" placeholder="Search...">
            </div>
        </div>
    </div>
</nav>
        </header>

        <main>
            
            

    <div class="main-container container">

        <div class="row hide-on-search-results-container-display">

            <div class="main-content-header col-12">
                
            </div>

            <div class="main-content col-12 col-xl-9 overflow-hidden">
                

    <div class="post">

        
        
        
        <section class="p-3 d-flex d-flex justify-content-between align-items-center d-hide-if-empty">
            

<section class="share-wrapper">
    <span class="share-label text-muted mr-1">Share post</span>
    <span class="share-icons">
        
               
        
            
                
                <a  href="https://www.linkedin.com/sharing/share-offsite/?url=/post-sample/hire-talents-easily/"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="LinkedIn"
                    target="_blank" rel="noopener"
                    aria-label="LinkedIn"
                    >
                    <i class="fa-fw fa-brands fa-linkedin fa-fw"></i>
                </a>
            
        
            
        
            
                
                <a  href="https://twitter.com/intent/tweet?text=Share post&amp;url=/post-sample/hire-talents-easily/"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Twitter"
                    target="_blank" rel="noopener"
                    aria-label="Twitter"
                    >
                    <i class="fa-fw fa-brands fa-square-twitter fa-fw"></i>
                </a>
            
        
            
        
            
        
            
        
        
        <i class="fa-solid fa-link fa-fw small" onclick="copyLink()" data-toggle="tooltip" data-placement="top" title="Copy link"></i>
    </span>
</section>

<script>
    function copyLink(url) {

        if (!url || 0 === url.length)
            url = window.location.href;

        ClipboardCopy.copy(
            url,
            () => { alert("Link copied successfully!"); },
            (err) => { alert("Link copy failed! Error: ", err); },
        );
    }
</script>


        </section>
        
        <section class="article print-container p-3 mb-3">

            <section>
                <h1>Hire-talents-easily</h1>
                
            </section>
        
            <section class="small">
                <div class="row row-cols-auto gx-3">
                    <div class="col"><i class="fa-solid fa-calendar-days fa-fw"></i>01 Feb 2020</div>
                    <div class="col"><i class="fa-regular fa-user fa-fw"></i>BaHI</div>
                    <div class="col"><i class="fa-solid fa-stopwatch fa-fw"></i> 1 min reading time</div>
                </div>
            </section>

            <section class="small text-muted d-flex gap-3">
<div class="d-flex">
    <div class="d-inline-block me-1">
        <a href="/jamstack-eleventy-custom/categories"><i class="far fa-fw fa-folder-open"></i></a>
    </div>
    <div class="d-inline-block">
        
        
        <a href="/jamstack-eleventy-custom/category/samples/sample-topics/management/1/" class="me-1">
                
            Samples
                
             - Sample-Topics
                
             - Management
            
        </a>
        
    </div>
</div>

<div class="d-flex">
    <div class="d-inline-block me-1">
        <a href="/jamstack-eleventy-custom/tags"><i class="fa-solid fa-tags fa-fw"></i></a>
    </div>
    <div class="d-inline-block">
        
        <a href="/jamstack-eleventy-custom/tag/samples/1/" class="me-1">samples</a>
        
        <a href="/jamstack-eleventy-custom/tag/my-simple-tag/1/" class="me-1">my-simple-tag</a>
        
    </div>
</div>
</section>

            <hr/>

            <section class="pb-3">
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor metus non nunc varius, nec fermentum magna sagittis. Ut libero mi, blandit at molestie at, sollicitudin quis magna. Integer quis erat rutrum, euismod augue eu, sodales neque. Nunc vel turpis semper, posuere metus ac, gravida sapien. Mauris at malesuada lorem. Suspendisse dui odio, facilisis ac tempor vitae, porta id ligula. Curabitur rutrum lorem at auctor dignissim. Phasellus nulla sapien, hendrerit at aliquet ac, elementum id massa. Aenean eget metus ullamcorper, convallis diam non, rutrum ligula. Morbi gravida mauris in augue rutrum, non porta lacus suscipit.</p>

            </section>

        </section>

        <section class="p-3">
            


<div class="d-flex">
    <div class="post-navigation-button text-start me-auto">
        <a class="btn btn-sm btn-outline-primary" href="/jamstack-eleventy-custom/post-sample/fix-employee-retention/" title="Fix-employee-retention"><i class="fa-solid fa-chevron-left me-3 align-middle"></i>Fix-employee-retention</a>
    </div>
    
    <div class="post-navigation-button text-end ms-auto">
        <a class="btn btn-sm btn-outline-primary" href="/jamstack-eleventy-custom/post-sample/estimation-quick-recap/" title="Estimation - Quick recap">Estimation - Quick recap<i class="fa-solid fa-chevron-right ms-3 align-middle"></i></a>
    </div>
    </div>

        </section>

        <section class="p-3 d-hide-if-empty">
            
        </section>

    </div>
  

            </div>

            <aside class="main-aside sticky-container d-none d-xl-block small col-xl-3">
                

    <section class="sticky p-3 mb-3 d-hide-if-empty">
        
        


    </section>

    <section class="sticky p-3 mb-3 d-hide-if-empty">
        
        


<div class="heading">
    <h2 class="d-inline">Similar articles</h2>
    <a class="sticky-link btn btn-sm btn-outline-primary float-end"><i class="fa-solid fa-link"></i></a>
</div>

<div><ul class="related-posts">
    
    <li>
        
        <a href="/jamstack-eleventy-custom/post-sample/ddd-series-6-summary/">
            <span>DDD Series - 6 - Summary</span>
        </a>
    </li>
    
    <li>
        
        <a href="/jamstack-eleventy-custom/post-sample/getting-started/">
            <span>Getting Started</span>
        </a>
    </li>
    
    <li>
        
        <a href="/jamstack-eleventy-custom/post/sample-post/">
            <span>Sample post</span>
        </a>
    </li>
    
    <li>
        
        <a href="/jamstack-eleventy-custom/post-sample/how-to-get-better-at-anything-pt2/">
            <span>How-to-get-better-at-anything - pt2</span>
        </a>
    </li>
    
    <li>
        
        <a href="/jamstack-eleventy-custom/post-sample/how-to-get-better-at-anything-pt3/">
            <span>How-to-get-better-at-anything - pt3</span>
        </a>
    </li>
    
</ul></div>


    </section>

    <section class="sticky p-3 mb-3">
        
<div class="heading">
    <h2 class="d-inline">Recent posts</h2>
    <a class="sticky-link btn btn-sm btn-outline-primary float-end"><i class="fa-solid fa-link"></i></a>
</div>

        
<ul class="recent-posts">
    
    <li>
        <a href="/jamstack-eleventy-custom/post/sample-post/">
            <span>Sample post</span>
        </a>
    </li>
    
    <li>
        <a href="/jamstack-eleventy-custom/post-sample/how-to-get-better-at-anything-pt2/">
            <span>How-to-get-better-at-anything - pt2</span>
        </a>
    </li>
    
    <li>
        <a href="/jamstack-eleventy-custom/post-sample/how-to-get-better-at-anything-pt3/">
            <span>How-to-get-better-at-anything - pt3</span>
        </a>
    </li>
    
    <li>
        <a href="/jamstack-eleventy-custom/post-sample/how-to-get-better-at-anything/">
            <span>How-to-get-better-at-anything</span>
        </a>
    </li>
    
    <li>
        <a href="/jamstack-eleventy-custom/post-sample/mathjax-(mathematical-expressions)-and-mermaid-(graphs)/">
            <span>Mathjax (mathematical expressions) and Mermaid (graphs)</span>
        </a>
    </li>
    
</ul>
    </section>
    
    <section class="sticky p-3 mb-3 d-hide-if-empty">
        
<div class="heading">
    <h2 class="d-inline">Tag cloud</h2>
    <a class="sticky-link btn btn-sm btn-outline-primary float-end"><i class="fa-solid fa-link"></i></a>
</div>

         
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/clean-code/1/">clean-code</a>
    </span>
 
    <span style="font-size: 1.0380952380952382em;">
        <a href="/jamstack-eleventy-custom/tag/ddd/1/">ddd</a>
    </span>
 
    <span style="font-size: 0.8476190476190477em;">
        <a href="/jamstack-eleventy-custom/tag/dont/1/">dont</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/favicon/1/">favicon</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/getting-started/1/">getting started</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/google-analytics/1/">google analytics</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/hr/1/">HR</a>
    </span>
 
    <span style="font-size: 1.0380952380952382em;">
        <a href="/jamstack-eleventy-custom/tag/intro/1/">intro</a>
    </span>
 
    <span style="font-size: 0.9428571428571428em;">
        <a href="/jamstack-eleventy-custom/tag/management/1/">management</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/my-simple-tag/1/">my-simple-tag</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/outer-middle-inner/1/">outer - middle - inner</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/pageviews/1/">pageviews</a>
    </span>
 
    <span style="font-size: 1.323809523809524em;">
        <a href="/jamstack-eleventy-custom/tag/posts/1/">posts</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/posts-technical-management-estimation-recap-this-is-a-single-big-tag-name!/1/">posts, technical, management, estimation, recap - this is a single big tag name!</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/programming/1/">programming</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/recap/1/">recap</a>
    </span>
 
    <span style="font-size: 1.8em;">
        <a href="/jamstack-eleventy-custom/tag/samples/1/">samples</a>
    </span>
 
    <span style="font-size: 0.8952380952380953em;">
        <a href="/jamstack-eleventy-custom/tag/samples-11ty-customized/1/">samples, 11ty-customized</a>
    </span>
 
    <span style="font-size: 1.0380952380952382em;">
        <a href="/jamstack-eleventy-custom/tag/series/1/">series</a>
    </span>
 
    <span style="font-size: 1.276190476190476em;">
        <a href="/jamstack-eleventy-custom/tag/technical/1/">technical</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/typography/1/">typography</a>
    </span>
 
    <span style="font-size: 0.8em;">
        <a href="/jamstack-eleventy-custom/tag/writing/1/">writing</a>
    </span>


    </section>

    <section class="sticky p-3 mb-3 d-hide-if-empty">
        
        


    </section>
    

            </aside>

            <div class="main-content-footer col-12">
                
            </div>

        </div>

        <div class="row search-results-container">
            <div class="main-content search-results-wrapper col-12 overflow-hidden">
            </div>
        </div>

    </div>


        </main>

	    <!-- dynamic & custom scripts to alter rendered content -->
        <script>

    /* uses:
    EJS.CO for templating
    LUNR for search
    HE for HTML encoding (at highlight fnc.)
    */
   
    class Debouncer {
        _timeoutId = undefined;
        _wait = 250;
        _callback;

        constructor(callback, wait) {
            this._wait = wait ? wait : this._wait;
            this._callback = callback;
        }

        next(...args) {
            this.cancel();
            this._timeoutId = window.setTimeout(() => {
            this._callback.apply(null, args);
            }, this._wait);
        }

        cancel() {
            window.clearTimeout(this._timeoutId);
        }
    }

    const blogSearch = {

        _searchIndexPath: '/jamstack-eleventy-custom/search.json',
        _urlPrefix: '/jamstack-eleventy-custom/',
        _debounceTime: 400,

        _searchingTemplate: `
<h2>
    <i class="fa-solid fa-circle-notch fa-spin text-secondary"></i>
    <span class="text-secondary">Searching for:</span>
    <span class="text-primary"><%= searchText %></span>
</h2>
`,

        _resultTemplate_simple: `
<h2>
    <span class="text-secondary">Search results for:</span>
    <span class="text-primary"><%= searchText %></span>
</h2>

<ul class="search-results">
<% searchResults.forEach((sr, idx, arr) => { %>
    <li>
        <div class="search-result-item position-relative border shadow">
            <h5><%- sr.ref.title %></h5>
            <p class="x-text-nowrap x-text-truncate"><%- sr.ref.summary %></p>
            <a href="<%- urlPrefix %><%- sr.ref.url %>" class="stretched-link"></a>
        </div>
    </li>
<% }); %>
</ul>        
`,

        _resultTemplate: `
<h2>
    <span class="text-secondary">Search results for:</span>
    <span class="text-primary"><%= searchText %></span>
</h2>

<ul class="search-results">
<% searchResults.forEach((sr, idx, arr) => { %>
    <li>

        <div class="catalogue-item position-relative">
            
            <a class="stretched-link" href="<%- urlPrefix %><%- sr.ref.url %>"></a>
            <h3 class="catalogue-title"><%- sr.ref.title %></h3>
            <div class="catalogue-line"></div>

            <div class="catalogue-preview clearfix">
                <% if (sr.ref.image) { %>
                <img src="<%- sr.ref.image %>" class="catalogue-image img-fluid img-thumbnail"></img>
                <% } %>
                <div class="excerpt">
                    <%- sr.ref.summary %>
                </div>
            </div>

        </div>

    </li>
<% }); %>
</ul>        
`,

        _inputElements: [],
        _cancelElements: [],
        
        _updateInputs(value) {
            this._inputElements.forEach(el => el.value = value);
        },

        _setUpListeners(inputSelector, cancelSelector) {
            if (inputSelector) {
                this._inputElements = document.querySelectorAll(inputSelector);
                this._inputElements.forEach(el => el.addEventListener('keyup', evt => { if (evt.keyCode == 27) this._escapePressed(el); else this._inputValueChanged(el); } ));
            } else {
                this._inputElements = [];
            }

            if (cancelSelector) {
                this._cancelElements = document.querySelectorAll(cancelSelector);
            } else {
                this._cancelElements = [];
            }
        },

        _escapePressed(el) {
            this.clearSearch();
        },

        _inputValueChanged(el) {
            const value = el.value;
            this._updateInputs(value);
            this._debouncedSearch.next(value);
        },

        _resultContainerEls: [],
        _containersToHideEls: [],

        _setUpContainers(resultContainerSelector, containersToHideWhenResultSelector) {
            this._resultContainerEls = document.querySelectorAll(resultContainerSelector);
            this._containersToHideEls = document.querySelectorAll(containersToHideWhenResultSelector);
        },

        _showResults: false,
        _searching: false,
        _searchText: '',
        _searchResults: [],

        refreshUi() {
            const self = this;

            self._inputElements.forEach(el => el.value = self._searchText );

            const html = self._showResults
                ? self._searching
                    ? ejs.render(self._searchingTemplate, { searchText: self._searchText })
                    : ejs.render(self._resultTemplate, { urlPrefix: self._urlPrefix.replace(/\/+$/, ''), searchText: self._searchText, searchResults: self._searchResults })
                : '';

            self._resultContainerEls.forEach(el => { 
                // hide/show container
                self._showResults ? el.classList.remove("d-none") : el.classList.add("d-none")
                
                // find results element and set results
                const resultsEl = el.querySelector(".search-results-wrapper");
                if (resultsEl) {
                    resultsEl.innerHTML = self._showResults ? html : "";
                }
            });

            self._containersToHideEls.forEach(el => self._showResults ? el.classList.add("d-none") : el.classList.remove("d-none"));          
        },

        clearSearch() {
            this._showResults = false;
            this._searchText = '';
            this._searchResults = [];
            this.refreshUi();
        },

        search(text) {

            const self = this;

            console.log('searching for: ', text);
            self._searchText = text;

            if (!text) {
                self.clearSearch();
                return;
            }

            this._searchResults = [];
            self._searching = true;
            self._showResults = true;
            this.refreshUi();

            const hasSpecial = self._lunrSpecial.some(special => text.includes(special));
            const pattern =  hasSpecial 
                ? text
                : text + "*";

            console.log('lunr pattern: ', pattern);
            const localResults = self._lunrEngine.search(pattern);

            // NOTE: just for tests...
            // console.log('total result', localResults)

            // NOTE: highlighting
            localResults.forEach(localResult => {
                // NOTE: hard. ref.
                const data = self._lunrSearchData.find(i => i.url == localResult.ref);

                const highlight = {};

                for (let term in localResult.matchData.metadata) {
                    for (let field in localResult.matchData.metadata[term]) {

                        const positions = localResult.matchData.metadata[term][field].position;

                        const fieldValue = data[field];
                        let fieldReadIndex = 0;

                        highlight[field] = "";

                        for (let position of positions) {

                            if (position[0] > fieldReadIndex)
                                highlight[field] += fieldValue.substring(fieldReadIndex, position[0]);

                            highlight[field] += ("{:::" + fieldValue.substring(position[0], position[0] + position[1]) + ":::}");

                            fieldReadIndex = position[0] + position[1];

                        }

                        highlight[field] += fieldValue.substring(fieldReadIndex);             

                    }

                }

                for (let key in highlight) {
                    let value = highlight[key];

                    const encode = false;
                    let encoded = encode
                        ? he.encode(value)
                        : value;

                    let highlighted = encoded.replace(/{:::/g, '<mark>').replace(/:::}/g, '</mark>');
                    highlight[key] = highlighted;
                }

                localResult.ref = Object.assign({}, data, highlight);
            });

            self._searchResults = localResults;

            // finally
            self._searching = false;
            self.refreshUi();
        },

        _lunrSpecial: "*+-:^~".split(''),
        _lunrSearchData: undefined,
        _lunrEngine: undefined,

        init(inputSelector, cancelSelector, resultContainerSelector, containersToHideWhenResultSelector) {

            console.log('initializing search', this);

            // set up result / hide elements
            this._setUpContainers(resultContainerSelector, containersToHideWhenResultSelector);

            // refresh
            this.refreshUi();

            fetch(this._searchIndexPath).then((response) => {
                response.json().then((raw) => {

                    // set up engine, store search data
                    this._lunrSearchData = raw;

                    this._lunrEngine = lunr(function () {
                        this.ref('url')
                        this.field('title')
                        this.field('date')
                        this.field('author')
                        this.field('summary')
                        this.field('text')

                        this.metadataWhitelist = ['position']

                        raw.forEach(function (doc) { this.add(doc) }, this)
                    });

                    // set up UI listeners
                    this._debouncedSearch = new Debouncer((args) => this.search(args), this._debounceTime);
                    this._setUpListeners(inputSelector, cancelSelector);

                    // refresh
                    this.refreshUi();
                });
            });

        }

    };

    // NOTE:
    // #search-results-container must have an additional element with a .search-results class
    // these objects (along with #global-content-view) were already set up inside main.njk
    blogSearch.init('.blog-search-input', '.blog-search-cancel', '.search-results-container', '.hide-on-search-results-container-display');

</script>


        

        


        

        

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.css" integrity="sha512-LQ97camar/lOliT/MqjcQs5kWgy6Qz/cCRzzRzUCfv0fotsCTC9ZHXaPQmJV8Xu/PVALfJZ7BDezl5lW3/qBxg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.js" integrity="sha512-yXXqOFjdjHNH1GND+1EO0jbvvebABpzGKD66djnUfiKlYME5HGMUJHoCaeE4D5PTG2YsSJf6dwqyUUvQvS0vaA==" crossorigin="anonymous"></script>

<script>
    const scripts_config = {

        defaultCookies: function () {
            console.log('default cookies');

            // note: using anonymized IP
            if (typeof loadGA === 'function') loadGA(true);
        },

        enableCookies: function () {
            console.log('enabled cookies');

            if (typeof loadGA === 'function') loadGA(false);
            if (typeof loadDisqus === 'function') loadDisqus();
        },

        disableCookies: function () {
            console.log('disabled cookies');

            this.defaultCookies();
        },

        loadScripts: function (requireConsent, consentUrl) {
            if (requireConsent) {
                // scripts managed based on consent status
                this.initializeCookieConsent(consentUrl);
            } else {
                // all scripts enabled
                this.enableCookies();
            }
        },

        initializeCookieConsent: function (consentUrl) {

            const me = this;

            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#edeff5",
                        "text": "#838391"
                    },
                    "button": {
                        "background": "#4b81e8"
                    }
                },
                "position": "bottom-right",
                "type": "opt-in",
                "content": {
                    "message": "This website uses cookies to ensure you get the best experience here.",
                    "href": consentUrl
                },

                onInitialise: function (status) {
                    console.log(`cc - onInitialise, status: ${status}`);

                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    if (type == 'opt-in' && didConsent) {
                        me.enableCookies();
                    }
                    else if (type == 'opt-out' && !didConsent) {
                        me.disableCookies();
                    }
                    else {
                        me.defaultCookies();
                    }
                },

                onStatusChange: function (status, chosenBefore) {
                    console.log(`cc - onStatusChange, status: ${status}, chosenBefore: ${chosenBefore}`);

                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    if (type == 'opt-in' && didConsent) {
                        me.enableCookies();
                    }
                    if (type == 'opt-out' && !didConsent) {
                        me.disableCookies();
                    }
                },

                onRevokeChoice: function () {
                    // NOTE: this hook is called immediately after the revoke button is clicked and removes previous answers
                    console.log(`cc - onRevokeChoice`);

                    var type = this.options.type;
                    if (type == 'opt-in') {
                        me.disableCookies();

                        // NOTE: we need to reload page, so that we get rid of the loaded GA / Disqus scripts!
                        location.reload();
                    }
                    if (type == 'opt-out') {
                        me.enableCookies();
                    }
                },

                onPopupOpen: function () {
                    console.log(`cc - onPopupOpen`);
                },

                onPopupClose: function () {
                    console.log(`cc - onPopupClose`);
                }

            });

        }

    };

    const requireConsent = JSON.parse('true');
    const consentUrl = '/jamstack-eleventy-custom/cookies.html';
    
    scripts_config.loadScripts(requireConsent, consentUrl);
</script>



    </body>

    <!-- dynamic & custom scripts that need to run after the entire "final" content is rendered -->
    <script src="/jamstack-eleventy-custom/assets/js/custom/d-hide-if-empty.js"></script>
    <script src="/jamstack-eleventy-custom/assets/js/custom/sticky.js"></script>

    <!-- scripts from content pages -->
    

    <script src="/jamstack-eleventy-custom/assets/js/custom/menu-path-and-scroll-spy.js"></script>

</html>
