/*
Navbar - layout
*/
.navbar-main {

    padding: 0;

    min-height: var(--navbar-main-min-height);
    height: 100%; /* there's no parent, so this is just so that nested object height: 100% works */

    .container {
        height: 100%;
    }

    .navbar-brand img {
        max-height: 2em;
    }

    /* Easiest way to stretch links to 100% height */
    :not(.collapsed) .nav-link {
        position: relative;
        opacity: 1 !important;

        padding-top: .5em !important;
        padding-bottom: .5em !important;
        padding-left: .5em !important;
        padding-right: .5em !important;

        letter-spacing: 0.0625em;
    }

    .nav-search {
        .blog-search-input {
            padding: 1em;
            line-height: 2em !important;
        }
    }
    
}

/*
Search
*/
.nav-search 
{
    .inline-input-group .inline-text {
        font-size: .8 em;
    }

    .blog-search-input {       
        border-radius: 0;
    }
}

.nav-search-below {
    @extend .bg-body;
}
