/*
Jarallax fix in case of loadding errors
*/
.jarallax {
    position: relative;
}

.jarallax-img {
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}