ul.posts {
    
    padding-left: 0;

    li {
        list-style: none;

        .post-preview {

            min-height: 25vh;
            height: 25vh;

            @extend .rounded-0;
            @extend .mb-3;

        
            &.card-horizontal {
                flex-direction: row;

                .post-picture {
                    flex: 0 0 auto;
                    width: 40%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @extend .text-body-secondary;
                }   
            }

            .post-picture {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .post-body {

                display: flex;
                flex-direction: column;

                @extend .p-3;
                @extend .pb-1;
            
                .post-title {
                    margin-top: 0;            

                    @extend .ff-tall;
                    font-size: 1.4rem;
                    
                    &:after
                    {
                        content: "";
                        display: block;
                        transition: all 1.0s ease-in-out;
                        border-top: 0.25rem solid var(--color-highlight);
                        width: 4em;
                        padding-bottom: 1em;
                    }
                }

                .post-content {            
                    flex-grow: 1;
                    flex-shrink: 1;
                    overflow: hidden;

                    @extend .small;
                }

                hr {
                    @extend .my-1;
                }

                .post-taxonomy {
                    @extend .d-xl-flex;
                    @extend .small;

                    a {
                        pointer-events: none;
                        @extend .text-body-secondary;
                    }
                }

                .post-details {

                    @extend .small;

                    .date-and-pin {
                        @extend .d-flex;
                        @extend .justify-content-start;
                        @extend .gap-3;
                    }

                    .author-and-reading-time {
                        @extend .d-xl-flex;
                        @extend .justify-content-start;
                        @extend .gap-3;
                    }

                    .pin {
                        @extend .ms-auto;
                        @extend .text-body-secondary;

                        .pin-text {
                            @extend .d-none;
                            @extend .d-xl-inline;
                        }
                    }
                }

            }

            &:hover {
                .post-body {
                    .post-title {
                        &:after {
                            width: 8em;
                        }
                    }
                }
            }

            &.post-preview-effect-1 {
                // https://codepen.io/donho_zamo/embed/YzXzPXZ

                .post-picture {
                    overflow: hidden;            
                }

                &:hover {
                    box-shadow: 0em .25em 1em var(--bs-body-color);
                    transition: all 0.2s ease-in;

                    .post-picture > * {
                        transform:scale(1.10);
                        transition: all 1.0s ease-in;
                    }
                }
            }

            &.post-preview-effect-2 {
                // https://codepen.io/wingerdstok/embed/WjrPZY

                .post-picture {
                    position: relative;

                    img {
                        position:absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                    }
                }

                &:hover {
                    box-shadow: 0em .25em 1em var(--bs-body-color);

                    .post-picture {
                        img {
                            top: -.5em;
                            border: 1px solid var(--bs-tertiary-color);
                            transition: all 1.0s ease-in-out;
                        }
                    }
                }
            }

            &.post-preview-effect {
                @extend .post-preview-effect-1;
            }

        }

    }

}
