/*
Font-awesome
- we decided to serve it from CDN (caching / speed)
- it also removes us from the responsibility to serve the webfont assets
*/

/*
BOOTSTRAP
- we use overrides, need just to make sure that the grid classes won't get disabled!
*/
/*
// NOTES: boldstrap-purple, grayson, lovey, tequila
@import "./themestr/bs4/tequila";
*/
/*
// NOTES: journal, materia, superhero, darkly, slate, flatly, sandstone
@import "./bootswatch/bs5/journal/variables";
@import "bootstrap";
@import "./bootswatch/bs5/journal/bootswatch";
*/

@import "./bootswatch/bs5/flatly/variables";

@import url(https://fonts.googleapis.com/css?family=Voltaire:200,300,400,700);
@import url(https://fonts.googleapis.com/css2?family=Lora);
$headings-font-family: Voltaire;
$font-family-sans-serif: Lora;

@import "bootstrap";
@import "./bootswatch/bs5/flatly/bootswatch";

/*
Custom variables
*/
:root {
    --navbar-main-min-height: 5em;
}

/*
Basic styles
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;
}

html, body {
    margin: 0;
    padding: 0
}

html {
    font-size: 16px;
    overflow-y: scroll
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .5em;
}

.stretched-link-exempt {
    position:relative;
    pointer-events: none;
    z-index: 1;
    
    a {
        pointer-events: all;
    }
}

/*
Flex stretch
*/
body.fit-height {
    display: flex;
    flex-direction: column;
    // NOTE: height: 100vh would interfere with sticky
    min-height: 100vh;
}

body.fit-height main {
    flex: 1;
    height: 100%;
}

/*
Navbar
*/
.navbar-main {

    @extend .navbar-dark;
    @extend .bg-primary;
    @extend .text-light;

    min-height: var(--navbar-main-min-height);
    height: 100%; /* there's no parent, so this is just so that nested object height: 100% works */

    .btn {
        @extend .btn-outline-secondary;
    }

    .navbar-brand img {
        max-height: 2em;
    }

    .navbar-toggler {
        // If we'd like to adjust the hamburger icon...
        @extend .btn;
        /*
        @extend .btn-dark;
        */
    }

    .nav-search {
        .blog-search-input {
            line-height: 2em !important;
        }
    }

}

/*
Search
*/
.nav-search 
{
    .inline-input-group .inline-text {
        font-size: .8 em;
    }

    .blog-search-input {       
        border-radius: 0;
        border: none;
        background-color: whitesmoke;
    }
}

.nav-search-below {
    @extend .bg-dark;
}

#search-results-container {

    .search-results-wrapper {
        @extend .p-3;

        ul.search-results {

            padding: 1em 0;
            padding-left: 0em;
        
            li {
                list-style: none;
                padding: 0 0 1em 0;
        
                .search-result-item {
                    padding: 1em;
                }
            }
        }
        
    }
}

/*
Main article
*/
.article {
    font-size: 1.1rem;
}

/*
Color overrides for mermaid (and mathjax) - as it needs a light background for thin lines to be visible (have contrast)
*/
.mermaid {
    @extend .bg-light;
    display: inline-block;   
}

/*
Print area config via CSS
*/
@media print {

    // see: https://developers.hp.com/print-fundamentals-developers/blog/selecting-regions-webpage-print

    body {
        visibility: hidden;
    }

    .print-container {
        overflow: visible;
        position: absolute !important;
        top: 0;
        left: 0;
    }
    
    .print-container, .print-container * {
        visibility: visible;
    }

    /*
    // NOTE: make sure the main container, which holds the printable is not set to display: none!
    :not(body):not(:root):not(.print):not(.print *) {
        display: none;
    }
    */
}

/*
Multi sticky:
- https://github.com/samsono/sticky-multi-header-scroll
- or viapure CSS
- or combination
*/
.sticky-container
{
    //
    // NOTE: in case we want to go with pure CSS, which cannot take non-displayed content with sticky class in account....
    //
    // $sticky-heading-height: 2.4em;
    // 
    // @for $i from 1 through 10 {
    //     .sticky:nth-child(#{$i}) {
    //         top: calc(#{$sticky-top} + (#{$i} - 1) * #{$sticky-heading-height});
    //     }
    // }

    .sticky {
        position: sticky;

        // Must have non-transparent BG otherwise the sticky panel texts will overlap
        @extend .bg-body;
    }

}

/*
NOTE: BS 5 is missing the possibility to include an icon into the input, so we added it.

Sample:

    <div class="inline-input-group inline-text-right">
        <span class="inline-text"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" class="form-control bg-dark text-light">
    </div>

*/
.inline-input-group {

    position: relative;

    &:not(.inline-text-right), &.inline-text-left {
        & .inline-text {
            left: .5em;
        }
        & input {
            padding-left: 2em;
        }
    }

    &.inline-text-right {
        & .inline-text {
            right: .5em;
        }
        & input {
            padding-right: 2em;
        }
    }

    .inline-text {
        position: absolute;

        height: 100%;
        display: flex;
        align-items: center;
    }

}

/*
Posts
*/
ul.posts {
    padding-left: 0;

    li {
        list-style: none;
    }
}

.catalogue-item {

    font-size: 1rem;

    .catalogue-title {
        font-size: 1.8rem;
        text-decoration: none;
    }

    .catalogue-line {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        border-top: 0.2rem solid $primary;
        display: block;
        width: 2rem;
        padding-bottom: 1em;
    }
   
    .catalogue-preview {

        padding-top: .5em;

        img {
            max-height: 5em;
            float: left;
            margin-right: 1em;
            margin-bottom: .5em;
        }

        &:after {
            float: none;
        }
    }

    &:hover {
        .catalogue-line {
            width: 5rem;
        }
    }

}

/*
TYPO
*/

blockquote {
    font-size: inherit !important;
    line-height:  inherit !important;
}

blockquote.quote {

    &:before {
        content: open-quote;
    }


    &:after {
        content: close-quote;
    }

    &:before,
    &:after {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        font-size: 2em;
        color: var(--color-delimiter);
    }
}

/*
Jarallax fix in case of loadding errors
*/
.jarallax {
    position: relative;
}

.jarallax-img {
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}

/*
Image grid
*/
@import "img-grid";
