{% set navDetails = page | getSeriesNavigationDetails(collections.all, collections[globals.posts.collectionName], globals.post.serie.navigation.totalLinkCount, globals.post.serie.navigation.nextLinkCount) %} 
{%- if navDetails.links.length -%}
<ul class="aside-navigation series">
{% for link in navDetails.links %}
    <li>
    {%- if link.url == page.url %}
        <span class="active">{{ link.data.title }} - {{ link.data.series }}</span>
    {%- else %}
        <a href="{{ link.url | url }}">{{ link.data.title }} - {{ link.data.series }}</a></li>
    {% endif -%}
{% endfor %}
</ul>
{%- endif -%}