{% if post.data.categories and post.data.categories.length %}
<div class="d-flex">
    <div class="d-inline-block me-1">
        <a href="{{ globals.categories.path | url }}"><i class="fa-regular fa-fw fa-folder-open text-body-secondary"></i></a>
    </div>
    <div class="d-inline-block">
        {% for category in post.data.categories %}
        {% set categoryPath %}{% for node in category %}{{ node | slug }}/{% endfor %}{% endset %}
        <a href="{{ globals.category.path | url | normalize }}{{ categoryPath | normalize | firstPage(globals.category.postsPageSize) }}" class="me-1">
            {% for node in category %}    
            {% if loop.first == false %} - {% endif %}{{ node }}
            {% endfor %}
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}