<div class="catalogue-item position-relative">
    
    <a class="stretched-link" href="{{ post.url | url }}"></a>
    <h3 class="catalogue-title">{{ post.data.title }}</h3>
    <div class="catalogue-line"></div>

    <div class="catalogue-meta">

        <div class="small d-flex gap-3">
            <span><i class="fa-solid fa-calendar-day fa-fw"></i> {{ post.data.date | readableDate }}</span>
            <span><i class="fa-solid fa-stopwatch fa-fw"></i> {{ post.templateContent | readingTime }} reading time</span>
        </div>

        <div class="stretched-link-exempt text-muted small d-flex gap-3 d-hide-if-empty">
            {%- if globals.posts.showCategories -%}{% include "./_categories.html" %}{%- endif -%}
            {%- if globals.posts.showTags -%}{% include "./_tags.html" %}{%- endif -%}
        </div>

    </div>

    <div class="catalogue-preview clearfix">
        {% if globals.posts.showImage  and post | hasImage %}<img src="{{ post | absoluteImageUrl | url }}" class="catalogue-image img-fluid img-thumbnail"></img>{% endif %}
        <div class="excerpt">
            {% if post.data.page.excerpt %}{{ post.data.page.excerpt | truncateHtml(globals.posts.maximizeContent, globals.posts.maximizeLines) | md | safe }}{% elseif globals.posts.showContentWhenNoExcerpt %}{{ post.templateContent | truncateHtml(globals.posts.maximizeContent, globals.posts.maximizeLines) | md | safe }}{% endif %}
        </div>
    </div>

</div>