<div class="card card-horizontal post-preview post-preview-effect">
    
    <a class="stretched-link" href="{{ post.url | url }}"></a>
    
    <div class="post-picture">
        {% if globals.posts.showImage and post | hasImage %}
        <img src="{{ post | absoluteImageUrl | url }}"></img>
        {% else %}
        <i class="fa-regular fa-circle-question fa-2xl"></i>
        {% endif %}
    </div>

    <div class="card-body post-body">

        <div class="card-title post-title">{{ post.data.title }}</div>

        <div class="card-text post-content dynamic-headings">
            {% if post.data.page.excerpt %}{{ post.data.page.excerpt | truncateHtml(globals.posts.maximizeContent, globals.posts.maximizeLines) | md | safe }}{% elseif globals.posts.showContentWhenNoExcerpt %}{{ post.templateContent | truncateHtml(globals.posts.maximizeContent, globals.posts.maximizeLines) | md | safe }}{% endif %}
        </div>

        <hr />

        <div class="post-meta">

            {#
            <section class="post-taxonomy">
                {%- if globals.post.showCategories -%}{% include "partials/post/_categories.html" %}{%- endif -%}
                {%- if globals.post.showTags -%}{% include "partials/post/_tags.html" %}{%- endif -%}
            </section>
            #}

            <section class="post-details">
                <div class="date-and-pin">
                    <div><span class="text-body-secondary">Posted</span> {{ post.data.date | readableDate }}</div>
                    {% if post.data.pin %}<div class="pin"><i class="fas fa-thumbtack fa-fw"></i><span class="pin-text">Pinned</span></div>{% endif %}
                </div>
                <div class="author-and-reading-time">
                    <div><span class="text-body-secondary">By</span> {{ post.data.author }}</div>
                    <div class="ms-auto">{{ post.templateContent | readingTime }} <span class="text-body-secondary">reading time</span></div>
                </div>
            </section>

        </div>

    </div>

</div>
