{% set prev = collections[globals.posts.collectionName] | getPreviousCollectionItem(page) %}
{% set next = collections[globals.posts.collectionName] | getNextCollectionItem(page) %}

<div class="d-flex">
    {%- if prev.url %}
    <div class="post-navigation-button text-start me-auto">
        <a href="{{ prev.url | url }}" title="{{ prev.data.title }}"><i class="me-3 fas fa-2x fa-chevron-left align-middle"></i>Previous</a>
    </div>
    {% endif -%}
    {%- if next.url %}
    <div class="post-navigation-button text-end ms-auto">
        <a href="{{ next.url | url }}" title="{{ next.data.title }}">Next<i class="ms-3 fas fa-2x fa-chevron-right align-middle"></i></a>
    </div>
    {% endif -%}
</div>