{%- if post.data.series -%}
{# series nav #}
{% set navDetails = page | getSeriesNavigationDetails(collections[globals.posts.collectionName], globals.post.serie.navigation.totalLinkCount, globals.post.serie.navigation.nextLinkCount) %} 
{% set prev = navDetails.prev %}
{% set next = navDetails.next %}
<div class="d-flex">
    {%- if prev.url %}
    <div class="post-navigation-button text-start me-auto">
        <a class="btn btn-sm btn-outline-primary" href="{{ prev.url | url }}" title="{{ prev.data.title }}"><i class="fa-solid fa-chevron-left me-3 align-middle"></i>{{ prev.data.title }}</a>
    </div>
    {% endif -%}
    {%- if next.url %}
    <div class="post-navigation-button text-end ms-auto">
        <a class="btn btn-sm btn-outline-primary" href="{{ next.url | url }}" title="{{ next.data.title }}">{{ next.data.title }}<i class="fa-solid fa-chevron-right ms-3 align-middle"></i></a>
    </div>
    {% endif -%}
</div>
{%- endif -%}
