---
eleventyExcludeFromCollections: false
title: Index
permalink: /
layout: main
aside: 0
tags: home
styles: |
  <!-- <style></style> -->
scripts: |
  <!-- <script></script> -->
---

This is the main static WWW page!
Env: {{ meta.env }}

{% include 'partials/bs-sample.html' %}
