---
permalink: /posts/
---

<h2>Posts</h2>

<ul>
{%- for post in collections.postCollection -%}
  <li>
    {% if post | hasImage %}<img src="{{ post | absoluteImageUrl | url }}" class="w-25"></img>{% endif %}
    <h5><a href="{{ post.url | url }}">{{ post.data.title }}</a></h5>
  </li>
{%- endfor -%}
</ul>
