<!--
NOTE:
    ConsentStatus.enabled is set if no cookie consent is required (globals.cookieConsent.required)...
    ...otherwise ConsentStatus.default is the default value until consent is not given or denied!
-->
<script>
    const CookieConsent = {

        StatusEnum: {
            "default": "default",
            "enabled": "enabled",
            "disabled": "disabled"
        },

        loadScripts: function (requireConsent, consentUrl) {
            if (requireConsent) {
                // scripts managed based on consent status
                this._initializeCookieConsent(consentUrl);
            } else {
                // all scripts enabled
                this._enableCookies();
            }
        },

        getStatus() {
            return localStorage.cookies ?? this.StatusEnum.default;
        },

        _setStatus(value) {
            const changed = this.getStatus() != value;
            localStorage.cookies = value;
            if (changed) window.location.reload();
        },

        _defaultCookies: function () {
            console.log('default cookies');
            this._setStatus(this.StatusEnum.default);
        },

        _enableCookies: function () {
            console.log('enabled cookies');
            this._setStatus(this.StatusEnum.enabled);
        },

        _disableCookies: function () {
            console.log('disabled cookies');
            this._setStatus(this.StatusEnum.disabled);
        },

        _initializeCookieConsent: function (consentUrl) {

            const me = this;

            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#aa0000",
                        "text": "#ffdddd"
                    },
                    "button": {
                        "background": "#ff0000"
                    }
                },
                "theme": "edgeless",
                "position": "bottom-right",
                "type": "opt-in",
                "content": {
                    "message": "This website uses cookies to ensure you get the best experience here.",
                    "href": consentUrl
                },

                onInitialise: function (status) {
                    console.log(`cc - onInitialise, status: ${status}`);

                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    
                    if (type == 'opt-in' && didConsent) {
                        me._enableCookies();
                    }
                    else if (type == 'opt-out' && !didConsent) {
                        me._disableCookies();
                    }
                    else {
                        me._defaultCookies();
                    }
                },

                onStatusChange: function (status, chosenBefore) {
                    console.log(`cc - onStatusChange, status: ${status}, chosenBefore: ${chosenBefore}`);

                    var type = this.options.type;
                    var didConsent = this.hasConsented();

                    if (type == 'opt-in' && didConsent) {
                        me._enableCookies();
                    }
                    if (type == 'opt-out' && !didConsent) {
                        me._disableCookies();
                    }
                },

                onRevokeChoice: function () {
                    // NOTE: this hook is called immediately after the revoke button is clicked and removes previous answers
                    console.log(`cc - onRevokeChoice`);

                    var type = this.options.type;

                    if (type == 'opt-in') {
                        me._disableCookies();

                        // NOTE: we need to reload page, so that we get rid of the loaded GA / Disqus scripts!
                        location.reload();
                    }
                    if (type == 'opt-out') {
                        me._enableCookies();
                    }
                },

                onPopupOpen: function () {
                    console.log(`cc - onPopupOpen`);
                },

                onPopupClose: function () {
                    console.log(`cc - onPopupClose`);
                }

            });

        }

    };
</script>

{% if not globals.cookieConsent.required %}
<script>
    CookieConsent._setStatus(CookieConsent.StatusEnum.enabled)
</script>
{% else %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.css" integrity="sha512-LQ97camar/lOliT/MqjcQs5kWgy6Qz/cCRzzRzUCfv0fotsCTC9ZHXaPQmJV8Xu/PVALfJZ7BDezl5lW3/qBxg==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent/3.1.1/cookieconsent.min.js" integrity="sha512-yXXqOFjdjHNH1GND+1EO0jbvvebABpzGKD66djnUfiKlYME5HGMUJHoCaeE4D5PTG2YsSJf6dwqyUUvQvS0vaA==" crossorigin="anonymous"></script>
<script>
    const requireConsent = JSON.parse('{{ globals.cookieConsent.required }}');
    const consentUrl = '{{ globals.cookieConsent.consentUrl | url }}';  
    CookieConsent.loadScripts(requireConsent, consentUrl);
</script>
{% endif %}