/*
    http://colormind.io/bootstrap/#

    primary is the central color
    light/dark could be the left/rightmost
    left from the center is the secondary
    right from center is the 

 */
$primary:#636f9f;
$info:#282e40;
$success:#539c68;
$warning:#d08c30;
$danger:#f44336;

$secondary:#93A1B6;
$secondary-extra: #737E97;

$light:#F4F4F5;
$dark:#282E40;
