/*
    http://colormind.io/bootstrap/#

    primary is the central color
    light/dark could be the left/rightmost
    left from the center is the secondary
    right from center is the 

 */
$primary:#9195a8;
$info:#3d3e55;
$success:#61a76a;
$warning:#de9732;
$danger:#f44336;

$secondary:#9D8262;
$secondary-extra: #847A85;

$light:#F3F4F2;
$dark:#3D3E55;
